Classification_Metrics_Interpretation.docx
Doc_ML_for_Cancel_Prediction.docx
Full_Project_Explained.docx
Logistic_Regression_Interpretation.docx
Report_to_Stakeholders.docx
__pycache__/
hotel_kpis.csv
hotel_market_segments.csv
.env
.ipynb_checkpoints/
~$c_ML_for_Cancel_Prediction.docx

